
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	===============
	My Resources
	===============

	GREAT resource from W3 on centering things:
		http://www.w3.org/Style/Examples/007/center.en.html
*/
	

/* 
	===============
	My CSS 
	===============
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Times New Roman", serif;
	margin: 0;
}

p {
	line-height: 1.3;
}

p a {
	text-decoration: none;
	color: #747A90;
	font-weight: bold;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;	
}

p a:hover {
	color: #6082B6;
}

::selection {
	background: #CCC;
}

/*
	============
	Main Section
	============
 */

.main-section {
	/* Sets main background image */
	width: 80%;
	height: 100%;
	/* Image taken from Unsplash under Creative Commons Zero license -- https://unsplash.com/license */
	background: url(../images/main-background.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-right: 1px solid #AAA;
}

.text-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FFF8E7;
	text-align: center;
}

.section-header {
	background-color: #747A90;
	padding: 2%;
	color: #FFF8E7;
	text-align: center;
	font-family: "adobe-caslon-pro", "Times New Roman", serif;
	text-transform: uppercase;
}

.section-header h1 {
	display: inline;
	font-size: 4em;
}

.section-header h2 {
	display: inline;
	margin-top: 13px;
	font-size: 3em;
}

.progress-indicator {
	font-size: 1em;
	font-family: "Comic Sans MS", cursive;
	white-space: pre;
}

footer.accent-line {
	font-size: 1em;
	opacity: 0.4;
}

/*
	============
	Namegram Aside
	============
 */

.namegram-header {
	width: 100%;

	opacity: 0.4;
	transition: opacity 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.namegram-header:hover {
	opacity: 1;
}

#namegram-header__namegram {
	padding: 20px;
	max-height: 150px;
	
	cursor: pointer;
}

/*
	============
	Informational Aside
	============
 */

.informational-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top:0;
	right:0;
	width: 24em;
	height: 100%;
	/* Cosmic Latte! */
	background: #FFF8E7;
	padding: 54px;
	overflow: hidden;
}


.informational-aside__info {
	text-align: center;
}

.informational-aside__info * {
	margin: 0;
	border: 0;
	padding: 0;
}

.header-text {
	/* These margins make Caslon Pro look better. */
	margin-left: 5px;
	margin-bottom: 10px;
	text-align: justify;
	font-size: 60px;
	font-family: "adobe-caslon-pro", "Times New Roman", serif;
}

.header-text .subtext {
	color: gray;
}

.subheader-text {
	font-size: 34px;
	font-family: "Adobe Caslon Pro", "Times New Roman", serif;
}

.main-nav {
	margin-top: 40px;
}

.informational-aside ul {
	padding: 0;
	text-transform: uppercase;
}

.main-nav__list {
	line-height: 18px;
}

.main-nav__list a {
	text-decoration: none;
	color: gray;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
}

.main-nav__list a:hover {
	color: black;
}

.informational-aside__personal-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	max-height: 200px;
}

.informational-aside__personal-photo__border-effects {
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: gray 0px 0px 20px;
}

.external-link-group {
	margin-top: 40px;
	font-size: 3em;
	text-align: center;
}

.external-link-group a {
	color: black;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.external-link-group a:hover {
	opacity: 0.7;
}

/*
	============
	Fold Indicator
	============
 */

.fold-indicator-container {
	position: absolute;
	top:80%;
	right:19%;
	bottom:0;
	left:0;
	margin: auto;
	width: 42px;
	height: 135px;
}

.fold-indicator-container * {
	color: #F9F4DA;
}

.fold-indicator-container .fa-chevron-circle-down {
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	transition: opacity 0.2s;	
	font-size: 3em;
}

.fold-indicator-container .fa-chevron-circle-down:hover {
	opacity: 0.7;
}

.fold-indicator-container .fa-circle {
	position: absolute;
	left: 14px;
}
.fold-indicator-container .fa-circle-1 {
	top: 55px;
}
.fold-indicator-container .fa-circle-2 {
	top: 85px;
}
.fold-indicator-container .fa-circle-3 {
	top: 115px;
}

/*
	============
	Aboutme Section
	============
 */

.aboutme-section.text-section {
	min-height: 100%;
	padding: 10%;
}

.aboutme-section h1 {
	margin: 0;
	font-size: 4em;
	font-family: "adobe-caslon-pro", "Times New Roman", serif;
}

.aboutme-section p {
	font-size: 1.5em;
}

/*
	============
	Projects Section
	============
 */

.projects-section {
	display: flex;
	flex-direction: row;
	min-height: 50vw;
}

.projects-section a {
	text-decoration: none;
	color: inherit;
}

.project-flexrow {
	display: flex;
	flex-direction: row;
	position: relative;
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	margin: auto;
	padding: 5%;
	text-align: center;
}

.project-info h1 {
	font-size: 2em;
}

.project-info h2 {
	font-size: 1em;
}

.project-info i {
	color: #1B94EF;
}

.project-overlay {
	position:absolute;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	transition: background-color 0.3s;
}

.project-image {
	width: 50%;
	height: 25vw;
}

.projects-section__left {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.projects-section__left__bank.project-image {
	background: url(../images/projects-bank-pixlr.jpg) -503px -25px / 129em no-repeat
}

.projects-section__left__advising.project-image {
	background: url(../images/projects-advising-pixlr.jpg) 0px 0px / 54em no-repeat
}

.projects-section__aa {
	position: relative;
	width: 50%;
	background: url(../images/projects-aa-ps.png) center center / 105em no-repeat;
}

.projects-section__aa.project-info {
	/* Beautiful responsive vertical & horizontal text centering */
	position: absolute;
	width: 100%;
	margin: auto;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;

	color: white;
	text-shadow: -1px -1px 3px #000, -1px 1px 3px #000, 1px -1px 3px #000, 1px 1px 3px #000;
}

.projects-section__aa.project-info h1 {
	font-size: 3em;
}

.projects-section__aa.project-info h2 {
	/* white-space: pre ensures that the multiple spaces in the h2 HTML 
		element are preserved (here, for visual readability purposes) */
	white-space: pre;
	font-size: 1.5em;
}

#projects-section__left__bank:hover,#projects-section__left__advising:hover,#projects-section__aa:hover {
	cursor: pointer;
}

.projects-section__aa.project-info:hover {
	-webkit-filter: brightness(0.8);
	background-size: 110em;
}

/*
	============
	Experience Section
	============
 */

.experience-section.text-section {
	padding: 2% 5% 2% 5%;
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
	min-height: 25vw;
}

.experience-section.text-section h1 {
	font-size: 2em;
	margin-top: 1%;
	margin-bottom: 1%;
}

.experience-section .project-flexrow {
	margin: 1% 17% 1% 14.5%;
	justify-content: space-between;
}

.experience-section .project-flexrow img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-filter: grayscale(1);
}

.experience-section .project-flexrow img:hover {
	cursor: pointer;
	-webkit-filter: none
}

/*
	=============
	Whitespace Tracker
	=============
 */

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/