html {
	background: url(../img/background-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero {
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	margin: auto;
	width: 800px;
	height: 200px;
	color: white;
	font-family: "Open Sans";
	font-size: 2em;
}