 
	===============
	From meyerweb.com 
	===============
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	===============
	My CSS 
	===============
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Times New Roman", serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.text-container * {
	margin: 0;
	border: 0;
	padding: 0;
}

/*
	============
	Namegram Aside
	============
 */

.namegram-header {
	width: 80%;

	opacity: 0.4;
	transition: opacity 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.namegram-header:hover {
	opacity: 1;
}

#namegram-header__namegram {
	padding: 20px;
	max-height: 150px;
	
	cursor: pointer;
}

/*
	============
	Informational Aside
	============
 */

.informational-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top:0;
	right:0;
	width: 20%;
	height: 100%;
	/* Cosmic Latte! */
	background: #FFF8E7;
	padding: 54px;
	border-left: 1px solid #AAA;	
}

.informational-aside__personal-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	max-height: 200px;
}

.informational-aside__info {
	text-align: center;
}

.informational-aside ul {
	padding: 0;
	text-transform: uppercase;
}

.main-nav__list {
	line-height: 18px;
}

.main-nav__list a {
	color: gray;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
}

.main-nav__list a:hover {
	color: black;
}

.header-text {
	margin-bottom: 20px;
	text-align: justify;
	font-size: 60px;
	font-family: "adobe-caslon-pro", "Times New Roman", serif;
}

.header-text .subtext {
	color: gray;
}

.subheader-text {
	font-size: 34px;
	font-family: "Adobe Caslon Pro", "Times New Roman", serif;
}

.main-nav {
	margin-top: 40px;
}

.external-link-group {
	margin-top: 40px;
	font-size: 3em;
	text-align: center;
}

/*
	============
	Main Section
	============
 */

.main-section {
	/* Sets main background image */
	width: 80%;
	height: 100%;
	background: url(../images/background-1.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
	============
	Fold Indicator
	============
 */

.fold-indicator-container {
	position: absolute;
	top:800px;
	right:19%;
	bottom:0;
	left:0;
	margin: auto;
	width: 42px;
	height: 135px;

	color: #F9F4DA;
}

.fold-indicator-container .fa-chevron-circle-down {
	font-size: 3em;
}

.fold-indicator-container .fa-circle {
	position: absolute;
	left: 14px;
}
.fold-indicator-container .fa-circle-1 {
	top: 55px;
}
.fold-indicator-container .fa-circle-2 {
	top: 85px;
}
.fold-indicator-container .fa-circle-3 {
	top: 115px;
}

/*
	============
	Aboutme Section
	============
 */

.aboutme-section {
	position: relative;
	background: #FFF8E7;
	height: 956px;
}

.aboutme-image {
	width: 50%;
	float: left;
}

.aboutme-image img {
	width: 100%;
}

.aboutme-text {
	width: 50%;
	float: right;
}

.aboutme-section h1 {
	margin: 0;
	padding-right: 100px;
	padding-top: 75px;
	font-size: 150px;
	text-align: right;
	font-family: "adobe-caslon-pro", "Times New Roman", serif;
}


/*
	============
	Whitespace Tracker
	============
 */

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/