
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	==============
	My CSS
	==============
 */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", serif;
	margin: 0;
	background: #F8F7F5;
}

p {
	line-height: 1.3;
}

p a {
	text-decoration: none;
	color: #747A90;
	font-weight: bold;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;	
}

p a:hover {
	color: #6082B6;
}

::selection {
	background: #CCC;
}

/*
	==============
	Project Page
	==============
 */

.project-page__video {
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 1%;
	background-color: white;
}

.project-page__image {
	position: relative; 
	width: 1000px; 
	left: 50%; 
	border: 1px solid black;
	margin-left: -500px; 
	/*margin-right: auto;*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.project-page__description {
	width: 60em;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.project-page__description__header {
	border-top: 2px solid #596490;
	border-right: 5px solid #596490;
	color: #FFF8E7;
	background-color: #747A90;
	font-family: "Adobe Caslon Pro", "Arial";
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.25em;
	text-align: center;
	font-variant: small-caps;
}

.project-page__description__header h1 {
	padding-top: 2%;
	padding-bottom: 2%;
}

.project-page__description__text {
	border-right: 5px solid #FCECC8;
	padding: 2%;
	background-color: #FFF8E7;
}

.project-page__description__text h2 {
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 1.25em;
}

.project-page__description__text p {
	text-align: justify;
	margin: 1em;
}

.project-page__description__text__tools>h2, .project-page__description__text__tools>p {
	text-align: center;
	opacity: 0.4;
}

.material-design-corner {
	float: right;
	width: 0; 
	height: 0; 
	border-bottom: 45px solid transparent; 
	border-right:30px solid #6D738F; 
}